@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

#home_wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  place-items: center;
  height: 100%;
  width: 100%;
  background-color: #151515;
  font-family: "Lobster", sans-serif;
  color: #fecc66;
  overflow-y: auto;
  overflow-x: hidden;
}

main {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;

  box-sizing: border-box;
}

#main_wrapper {
  display: grid;
  grid-template-rows: auto auto 1fr;
  place-items: center;
  width: 100%;

  box-sizing: border-box;
}

#search_bar_home {
  margin: 20px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
  max-width: 600px;
  height: 48px;
  padding: 0 10px 0 10px;
  background-color: #433e3ede;
  border-radius: 8px;
  box-sizing: border-box;
}

#search_bar_home .search_box {
  width: 100%;
  font-size: 20px;
  outline: none;
  background: none;
  border: none;
  color: #fff;
}

#main_wrapper .results {
  font-family: system-ui, sans-serif;
  text-align: left;

  width: 80%;
}

/* #search_bar_home .search_button {
  display: inline-block;
  cursor: pointer;
  width: 60px;
  height: 48px;
  border: none;
  font-size: 24px;
  border-radius: 0 6px 6px 0;
  background-color: #fecc66;
  font-family: FontAwesome;
} */

.header_wrapper {
  padding: 1rem;
}

#footer {
  padding: 1rem;
}
